.box {
    width: 200px;
    height: 100px;
    margin: 20px;
    color: white;
    padding: 10px;
    font-weight: bold;
}

.static {
    position: static;
    background-color: gray;
}

.relative {
    position: relative;
    background-color: blue;
    top: 20px;
    left: 30px;
}

.absolute {
    position: absolute;
    background-color: red;
    top: 100px;
    left: 200px;
}

.fixed {
    position: fixed;
    background-color: green;
    top: 10px;
    right: 10px;
}

.sticky {
    position:    sticky;
    background-color: orange;
    top: 0
}
.nav{
    position:sticky;
    top:0;
    background-color: black;
    color:white;
    padding:10px
}