/* h1{
    color: blue;
    font-size: 30px;
} */


body{
    margin: 0;
    font-family: Arial , sans-serif;
}
.navbar{
list-style: none;
display: flex;
justify-content: center;
background-color: #333;
padding: 15px 0;
margin: 0;
}
.navbar li{
    margin: 0 20px;
}
.navbar a{
    text-decoration: none;
    color:white;
    font-size: 18px;
    transition: color 0.3s ease;
}
.navbar a:hover{
    color: #00ffd5;
}